/* Steve jobs' book */

@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	width: 1200px;
	height: 720px;
	margin: 100px auto;
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.sj-book{
	width:1200px;
	height:720px;
}

.sj-book h1{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 38px;
	font-weight: lighter;
	margin: 20px 0;
	color: #333;
	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}

.sj-book h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
    font-size:16px;
	letter-spacing:2px;
	font-weight: 400;
}

.sj-book .book-content{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size:16px;
}

.sj-book blockquote{
	color:#586078;
	margin:10px 0;
	font-style:italic;
}

.sj-book blockquote:before{
	content: "\201C";
	color:#333D53;
	font-size:20px;
}

.sj-book blockquote:after{
	content: "\201D";
	color:#333D53;
	font-size:20px;
}

.sj-book cite{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:200;
	font-style:normal;
	color:#666;
}

.sj-book .book-content .center-pic{
	margin:0;
	text-indent:0;
	text-align:center;
}

.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}

.sj-book .book-content p{
	text-indent: 18px;
	margin: 20px 0;
	line-height: 22px;
}

.sj-book .left-pic{
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-ms-box-shadow:0 0 10px #999;
	-o-box-shadow:0 0 10px #999;
	box-shadow:0 0 10px #999;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	-moz-box-shadow:0 0 20px #999;
	-o-box-shadow:0 0 20px #999;
	-ms-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

.sj-book .p1{
	background-position:0 0;
}

.sj-book .p1 .side{
	width:5px;
	height:720px;
	position:absolute;
	top:0;
	left:475px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../pics/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background-position:-480px 0 !important;
}

.sj-book .p3{
	background-position:-1920px 0 !important;
}

.sj-book .p11{
	background-position:-1200px 0 !important;
}

.sj-book .p12{
	background-position:-1440px 0 !important;
}

.sj-book .p13{
	background-position:-1440px 0 !important;
}

.sj-book .p1{
	background-position:0 0 !important;
}

.sj-book .p2{
	background-position:-480px 0 !important;
}

.sj-book .p3{
	background-position:-960px 0 !important;
}

.sj-book .p4{
	background-position:-1440px 0 !important;
}

.sj-book .hard{
	width:480px;
	height:720px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	width:460px;
	height:582px;
	background-color:white;
	overflow:hidden;
}

.sj-book .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sj-book .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}

.sj-book .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.sj-book .table-contents{
	font-size:16px;
	width:300px;
	margin:80px auto;
	color:#ccc;
}

.sj-book .table-contents li{
	list-style:none;
	line-height:25px;
}

.sj-book .table-contents span{
	float:right;
}

.sj-book .table-contents a{
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:0 10px;
}

.sj-book .table-contents a:hover{
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}

.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(../pics/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(../pics/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

/* Calendar Styles */
.sj-book .calendar {
	margin: 20px 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid #d32f2f;
	padding: 15px;
	background: white;
	position: relative;
}

.sj-book .calendar-mini-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.sj-book .calendar-mini {
	width: 48%;
	border: 1px solid #ddd;
	padding: 8px;
}

.sj-book .calendar-mini-title {
	font-size: 12px;
	font-weight: bold;
	color: #d32f2f;
	text-align: center;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.sj-book .calendar-mini-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 9px;
}

.sj-book .calendar-mini-table th {
	padding: 2px;
	text-align: center;
	color: #333;
	font-weight: normal;
}

.sj-book .calendar-mini-table th.sun {
	color: #d32f2f;
}

.sj-book .calendar-mini-table td {
	padding: 2px;
	text-align: center;
	color: #333;
}

.sj-book .calendar-mini-table td.sun {
	color: #d32f2f;
}

.sj-book .calendar-main-title {
	font-size: 42px;
	font-weight: bold;
	color: #d32f2f;
	text-align: center;
	margin: 10px 0 5px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sj-book .calendar-year {
	font-size: 16px;
	color: #666;
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
}

.sj-book .calendar-table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto 15px auto;
}

.sj-book .calendar-table thead {
	background-color: #f5f5f5;
}

.sj-book .calendar-table th {
	font-size: 11px;
	color: #333;
	font-weight: 400;
	padding: 8px 4px;
	text-align: center;
	border: 1px solid #ddd;
}

.sj-book .calendar-table th.sun {
	background-color: #d32f2f;
	color: white;
}

.sj-book .calendar-table td {
	font-size: 12px;
	color: #333;
	padding: 10px 0px 10px 10px;
	text-align: left;
	vertical-align: top;
	width: 14.28%;
	border: 1px solid #e0e0e0;
	position: relative;
	height: 50px;
}

.sj-book .calendar-table td.other-month {
	color: #ccc;
	background-color: #fafafa;
}

.sj-book .calendar-table td.sun {
	color: #d32f2f;
	font-weight: 500;
}

.sj-book .calendar-table td.event-day {
	color: #d32f2f;
	font-weight: 500;
}

.sj-book .calendar-table td.today {
	background-color: #fff3e0;
	font-weight: bold;
}

.sj-book .calendar-event {
	font-size: 8px;
	color: #d32f2f;
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 1.2;
	padding: 0 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sj-book .calendar-notes {
	margin-top: 10px;
	border-top: 1px solid #ddd;
	padding-top: 10px;
	min-height: 60px;
}

.sj-book .calendar-notes-line {
	height: 14px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 5px;
}

.sj-book .calendar-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	font-size: 10px;
}

.sj-book .calendar-footer-url {
	color: #333;
}

.sj-book .calendar-footer-logo {
	color: #d32f2f;
	font-weight: bold;
	font-size: 11px;
}

